.mat-form-field{
    width: 300px;
    background:aliceblue;
    text-align: center;
    
}

#contenedor{
    margin: 0 auto;
    text-align:center;
    width:50%;
}

.center{
    width: 80%;
    margin: 20px auto;
    background:aliceblue;
    max-height: 800px;
    max-width: 800px;
}

.fondo{
    background: #c1d2dd;
    color: rgba(233, 119, 119, 0.61);
    color: rgba(119, 155, 233, 0.61);
}